body,
html {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

/* justify items/align items is for aligning entire grid item, justify self/align/self is for aligning items within the grid item */

/* grid container */
body {
  display: grid;
  margin: 0;
  grid-template-columns: 20% auto;
  grid-template-rows: 10% auto 50px;
  grid-template-areas:
    "header header"
    "sidebar content"
    "sidebar footer";
}

.content {
  grid-area: content;
  justify-self: center;
  align-self: center;
}

header {
  grid-area: header;
  text-align: right;
  align-self: center;
  background-color: #333;
}

footer {
  grid-area: footer;
  background-color: lightgray;
  padding: 10px;
}

aside {
  grid-area: sidebar;
  background-color: gray;
}
